// Set main colours:
$base-white: #FFFFFF;

$base-black: #000000;
$black-ligher-10 : #333333;

$grey:#BFBFBF;
$grey-lighten-20: #EFEFEF;

$grey-blue: #2F454E;
$grey-blue-lighter: #6F98A8;

$blue:#72C3DC;
$blue-darken-10: #2B8EAD;
